body {
  font-family: "Roboto", sans-serif;
}
.heroHeader {
  text-align: center;
  padding: 7rem 1rem 3rem;
  background-image: url(https://media.istockphoto.com/photos/watzmann-in-alps-dramatic-reflection-at-sunset-national-park-picture-id1136834574?b=1&k=20&m=1136834574&s=170667a&w=0&h=XbalJPIOpEUvb0ZmtFvjTh_X1aOzl5wOUWXPQ2a-4XQ=);
  background-repeat: no-repeat;
  background-size: cover;
}
.heroHeader h1 {
  padding: 1rem 0 1rem 0;
}
.heroHeader h2 {
  font-size: 16px;
}
.heroHeader h1,
h2 {
  color: #fff;
}
.navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.homePage img {
  width: 90%;
  height: 250px;
  object-fit: cover;
}

a:hover {
  color: #546e74 !important;
  text-decoration: none;
}
.picGrid a {
  color: #0e0e0e;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
  text-align: left;
  padding-left: 2.2rem;
}
.container.aboutPage {
  padding: 8rem 3rem 3rem;
  text-align: center;
}
.container.gcPage {
  padding: 8rem 3rem 3rem;
  text-align: center;
}
.col-md-6.mb-4.yellowStone,
.col-md-6.mb-4.grandTetons,
.col-md-6.mb-4.antelopCanyon,
.col-md-6.mb-4.watkinsGlen,
.col-md-6.mb-4.grandCanyon,
.col-md-6.mb-4.antelopMarina {
  text-align: center;
}
.margTop {
  margin-top: 4rem !important;
}
.aboutPage p {
  text-align: left;
}
.followUs {
  color: #546e74;
}
.followUs a {
  color: #546e74;
}
.followUs .fa-instagram:hover {
  color: #0e0e0e;
  font-size: 16px;
}
span.instaIcon {
  padding-left: 0.6rem;
}
hr.contactHR {
  margin: 3rem 1rem;
  color: #afafaf;
}
.contactContent h1 {
  text-align: left;
}
.col-12.contactBox {
  background-color: #c7e3c7;
  border-radius: 9px;
  padding: 2rem;
}
.emailButton {
  background-color: #1d4a01;
  color: #fff;
  padding: 1rem 4rem;
  border-radius: 8px;
  text-decoration: none !important;
}
.emailButton:hover {
  color: #fff !important;
  background-color: #2f7802;
  font-size: 18px;
}
.contactBox h3 {
  margin-bottom: 0 !important;
}

.contactBox .col-md-6 {
  align-self: center;
}
.col-md-6.contactPadd {
  padding: 1.5rem 0;
}
.hsFooter i.fab.fa-instagram {
  font-size: 22px;
}
.hsFooter i.far.fa-envelope {
  font-size: 20px;
}
.backButton {
  color: #669b45;

  border-radius: 8px;
  text-decoration: none !important;
}
i.fas.fa-angle-left {
  padding-right: 0.6rem;
  font-size: 18px;
}
.backButton:hover {
  color: #2f7802 !important;
}
.gcPage p {
  text-align: left;
  margin-bottom: 4rem;
}
span.subText {
  font-size: 12px;
  padding-left: 0.3rem;
  color: #a7a7a7;
}

.gcPage a {
  color: #669b45 !important;
  text-decoration: none;
}
.gcPage a:hover {
  color: #2f7802 !important;
  font-weight: 600;
}

@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  .contactBox .col-md-6:first-child {
    margin-bottom: 3rem;
  }
}
